@page "/fetchdata"
@using Drones.FrontEnd.WebApp.ViewModels;
@using static Drones.FrontEnd.WebApp.ViewModels.DroneMv;

<PageTitle>Drones datat</PageTitle>

<h1>Drones Data</h1>

<p>This component fetch data from api server.</p>

@if (dronesDto == null)
{
    <BSSpinner Color="BSColor.Primary" />
}
else
{
    @if (loading)
    {
        <BSSpinner Color="BSColor.Info" />
    }
    <div class="row">
        <div class="col-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Serial</th>
                        <th>Model</th>
                        <th>Weight Limit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var drone in dronesDto)
                    {
                        <tr>
                            <td>@drone.Id</td>
                            <td>@drone.SerialNumber</td>
                            <td>@drone.Model</td>
                            <td>@drone.WeightLimit</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-7">
            <BSRow MarginBottom="Margins.Medium">
                <BSLabel IsColumn="true">Serial Number</BSLabel>
                <BSCol ColumnMedium="9">
                    <BSInput InputType="InputType.Text" @bind-Value="@(droneMv.SerialNumber)" UpdateOnInput=true />
                </BSCol>
            </BSRow>
            <BSRow MarginBottom="Margins.Medium">
                <BSLabel IsColumn="true">Model</BSLabel>
                <BSCol ColumnSmall="9">
                    <BSInput InputType="InputType.Select" @bind-Value="@(droneMv.Model)">
                        <option value="@ModelType.Lightweight">Lightweight</option>
                        <option value="@ModelType.Middleweight">Middleweight</option>
                        <option value="@ModelType.Cruiserweight">Cruiserweight</option>
                        <option value="@ModelType.Heavyweight">Heavyweight</option>
                    </BSInput>
                </BSCol>
            </BSRow>
            <BSRow MarginBottom="Margins.Medium">
                <BSLabel IsColumn="true">Weight Limit</BSLabel>
                <BSCol ColumnSmall="9">
                    <BSInput InputType="InputType.Number" @bind-Value="@(droneMv.WeightLimit)" />
                </BSCol>
            </BSRow>
            <BSRow MarginBottom="Margins.Medium">
                <BSLabel IsColumn="true">Battery Capacity</BSLabel>
                <BSCol ColumnSmall="9">
                    <BSInput InputType="InputType.Number" @bind-Value="@(droneMv.BatteryCapacity)" />
                </BSCol>
            </BSRow>
            <BSRow MarginBottom="Margins.Medium">
                <BSLabel IsColumn="true">State</BSLabel>
                <BSCol ColumnSmall="9">
                    <BSInput InputType="InputType.Select" @bind-Value="@(droneMv.State)">
                        <option value="@StateLevel.Idle">Idle</option>
                        <option value="@StateLevel.Loading">Loading</option>
                        <option value="@StateLevel.Loaded">Loaded</option>
                        <option value="@StateLevel.Delivering">Delivering</option>
                        <option value="@StateLevel.Returning">Returning</option>
                    </BSInput>
                </BSCol>
            </BSRow>
            <BSRow MarginBottom="Margins.ExtraLarge">
                <BSCol Column="10" />
                <BSCol Column="2">
                    <BSButton Margin="Margins.Default" Color="BSColor.Primary" OnClick="CreateDrone" IsSubmit="false">
                        Create
                    </BSButton>
                </BSCol>
            </BSRow>
        </div>
    </div>

}


